h1{
    font-style:bolder;
    margin-top:20px;
}

h2{
    margin-bottom:30px; margin-top:15px;
}

p{
    font-size:18px;
}

div{
    padding-bottom: 5vw;
}

.main-box{
    background-color: rgb(255, 255, 255);
    border-style: dashed;
    border-width: 4px;
    border-color:rgb(127, 193, 205);
    border-radius: 30%;
    padding: 20px;
}

.btn{
    background-color: rgb(166, 226, 235);
}